<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Spyfall - Místnost</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-room.css') }}">
</head>
<body>
    <header class="page-header">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="Logo" class="logo-img">
        </a>
        <a href="{{ url_for('rules') }}">
            <img src="{{ url_for('static', filename='images/rules.jpeg') }}" alt="Pravidla" class="rules-img">
        </a>
    </header>    

    <h1>Místnost: {{ room_code }}</h1>

    <form action="/join_room_post" method="post">
        <input type="hidden" name="room_code" value="{{ room_code }}">
        <input type="text" name="username" placeholder="Zadej jméno" required>
        <button type="submit">Připojit se</button>
    </form>    

    <h2>Hráči:</h2>
    <ul>
        {% for player in players %}
            <li>{{ player }}</li>
        {% endfor %}
    </ul>

    <!-- Tlačítko pro spuštění hry jen pro hostitele -->
    {% if session['username'] == room.host %}
        <form action="/start_game" method="post">
            <input type="hidden" name="room_code" value="{{ room_code }}">
            <label for="timer">Délka hry (min):</label>
            <select name="timer" id="timer">
                <option value="5">5</option>
                <option value="8">8</option>
                <option value="10">10</option>
            </select>
            <button type="submit">Spustit hru</button>
        </form>
    {% endif %}

    <h3>Seznam všech možných lokací:</h3>
    <div class="locations-grid">
        {% for loc in locations %}
            <div class="location-item" data-location="{{ loc.name }}">
                <img src="{{ url_for('static', filename='images/' ~ loc.image) }}" alt="{{ loc.name }}">
                <p>{{ loc.name }}</p>
            </div>
        {% endfor %}
    </div>

    <!-- Automatické přesměrování do hry, když se spustí -->
    <script>
        const roomCode = "{{ room_code }}";
        const currentUser = "{{ session['username'] }}";

        async function checkGameStatus() {
            try {
                const response = await fetch(`/room_status?room_code=${roomCode}`);
                const data = await response.json();

                if (data.status === 'in_progress') {
                    window.location.href = `/game?room_code=${roomCode}&username=${currentUser}`;
                } else {
                    setTimeout(checkGameStatus, 2000);
                }
            } catch (err) {
                console.error("Chyba při kontrole stavu hry:", err);
                setTimeout(checkGameStatus, 3000);
            }
        }

        window.addEventListener("DOMContentLoaded", checkGameStatus);
    </script>
    <script src="{{ url_for('static', filename='js/leave-room.js') }}"></script>
</body>
</html>